

h1 {
    right: -40%;
    border-radius: 90px;
    text: inline-block;
    position:relative;
    max-width: 10%;
    text-align: center;
    font-family: yellowtail;
    font-weight: 200;
    

}
 div {
    position: absolute; 
    align-content: center;
    background: red;
    outline-color: black;
    border-radius: 50px;
    height:50px;
    width: 50px;
}
body {

  background: -webkit-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* W3C */ }

h1 {
  font-size: 60px;
}
/* NAV */

/* IMAGES */
img {
    position: absolute;
    margin-left: 40%;
    
  
    
}

li a {
 background-color: lightgrey;
    display: block;
    height: 50px;
    width: 50px;
    
}
h2 {
    margin-left: 50%;
}

}
h4 {
    font-size: 30px;
}
ul#things {
     margin-left: 30px;
    font-size: 20px;
}
.ytp-thumbnail-overlay ytp-cued-thumbnail-overlay  {
    right: 50%;
}
